{
  "image": "postgres:18",
  "databases": {
    "prod": {
      "host": "118.67.213.164",
      "port": 5432,
      "user": "retailr_user",
      "dbname": "retailr_db"
    },
    "staging": {
      "host": "localhost",
      "port": 5437,
      "user": "retailr_user",
      "dbname": "retailr_db",
      "password": "change-me"
    }
  }
}
